
<div class="page-width grid-category">
  {%- for block in section.blocks -%}
  <a href="{{ block.settings.collection }}" class="grid-item">
    <div class="overlay"></div>
    <h4 class="heading">{{block.settings.header}}</h4>
    <img src="{{block.settings.user_img | img_url: '' }}" alt="" class='main-img'>
  </a>
  {%- endfor -%}

</div>


{% stylesheet %}
  @media only screen and (max-width:37.5em){
    .grid-category{
      grid-template-columns:auto!important;
    }
  }
  .grid-category{
    display:grid;
    grid-template-columns:auto auto;
    grid-template-rows:auto;
    grid-gap:20px;
  }
  .grid-item{
    position:relative;
    width:100%;
  }
  .overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:98%;
    background-color:rgba(0,0,0,0.3);
  }
  .heading{
    position:absolute;
    left:3%;
    bottom:3%;
    font-size:1.8rem;
    letter-spacing:2px;
    text-transform:uppercase;
    z-index:50;
    color:white;
  }
  .main-img{
    width:100%;
  }
{% endstylesheet %}

{% schema %}
  {
    "name": "Product Category",
    "presets":[
      {
        "category":"Image",
        "name":"Product Category"
      }
    ],
    "blocks":[
      {
        "type":"quote",
        "name":"product collection",
        "settings": [
        {
          "id": "header",
          "type":"text",
          "label": "Category Name"
        },
        {
          "type":"image_picker",
          "id":"user_img",
          "label":"Categor Image"
        },
        {
          "type":"url",
          "id":"collection",
          "label":"Collection Link"
        }
      ]
      }
    ]

  }
{% endschema %}